Repository couplog/back-end, pull requests merged in 2023-07, with the labels that each got.

#102 Feat/#101 일정 상세 조회 수정
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleReadService.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
Labels: fix, test

#100 Feat/#99 일정 내용 최대 길이 수정
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/request/AnniversaryCreateRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/request/AnniversaryModifyRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/Anniversary.java
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/dto/request/ScheduleRequest.java
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/dto/request/ScheduleUpdateRequest.java
  src/main/java/com/dateplan/dateplan/domain/schedule/entity/Schedule.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
Labels: fix, test

#98 Feat/#97 데이트 일정 생성
  src/main/java/com/dateplan/dateplan/domain/dating/controller/DatingController.java
  src/main/java/com/dateplan/dateplan/domain/dating/controller/dto/request/DatingCreateRequest.java
  src/main/java/com/dateplan/dateplan/domain/dating/entity/Dating.java
  src/main/java/com/dateplan/dateplan/domain/dating/repository/DatingRepository.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/dto/request/DatingCreateServiceRequest.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingServiceTest.java
Labels: feat, test

#105 Feat/#106 커플 전체 기념일 조회
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/AnniversaryResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/Anniversary.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/AnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
Labels: feat, fix, test

#106 Feat/#96 커플 기념일 삭제
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryService.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryServiceTest.java
Labels: feat, test

#110 Feat/#103 커플 데이트 일정 날짜 조회
  src/main/java/com/dateplan/dateplan/domain/dating/controller/DatingController.java
  src/main/java/com/dateplan/dateplan/domain/dating/controller/dto/response/DatingDatesResponse.java
  src/main/java/com/dateplan/dateplan/domain/dating/repository/DatingQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingReadService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/dto/response/DatingDatesServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
Labels: feat, fix, test

#112 Refactor/#109 회원 인증 정보 받는 위치 변경
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/couple/controller/CoupleController.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleReadService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/main/resources/application-db.yml
  src/test/java/com/dateplan/dateplan/controller/couple/CoupleControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: refactor, test

#114 Fix/#113 일정 종료 시간 검색 조건 수정
  src/main/java/com/dateplan/dateplan/domain/dating/repository/DatingQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
Labels: bug, fix

#117 Feat/#111 데이트 일정 조회
  src/main/java/com/dateplan/dateplan/domain/dating/controller/DatingController.java
  src/main/java/com/dateplan/dateplan/domain/dating/controller/dto/response/DatingEntry.java
  src/main/java/com/dateplan/dateplan/domain/dating/controller/dto/response/DatingResponse.java
  src/main/java/com/dateplan/dateplan/domain/dating/repository/DatingQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingReadService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/dto/response/DatingServiceResponse.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingReadServiceTest.java
Labels: feat, test

#118 Feat/#115 데이트 일정 수정
  src/main/java/com/dateplan/dateplan/domain/dating/controller/DatingController.java
  src/main/java/com/dateplan/dateplan/domain/dating/controller/dto/request/DatingUpdateRequest.java
  src/main/java/com/dateplan/dateplan/domain/dating/entity/Dating.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingReadService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingService.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/dto/request/DatingUpdateServiceRequest.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/dating/DatingNotFoundException.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingServiceTest.java
Labels: feat, test

#119 Feat/#116 데이트 일정 삭제
  src/main/java/com/dateplan/dateplan/domain/dating/controller/DatingController.java
  src/main/java/com/dateplan/dateplan/domain/dating/entity/Dating.java
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingService.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingServiceTest.java
Labels: feat, test

#121 Fix/#120 일정 수정/삭제 권한 확인
  src/main/java/com/dateplan/dateplan/domain/dating/service/DatingService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/main/java/com/dateplan/dateplan/global/constant/Resource.java
  src/test/java/com/dateplan/dateplan/controller/dating/DatingControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/dating/DatingServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: fix, test

#123 Fix/#108 커플 기념일 수정
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/AnniversaryPattern.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryService.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryServiceTest.java
Labels: fix, test

#124 개인 일정 단일 수정 시 새로운 일정 패턴 생성
  src/main/java/com/dateplan/dateplan/domain/schedule/entity/Schedule.java
  src/main/java/com/dateplan/dateplan/domain/schedule/entity/SchedulePattern.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleReadService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/dto/request/ScheduleUpdateServiceRequest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: fix, test

#126 Refactor/#125 기념일 관련 권한 체크 로직 분리
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/interceptor/AnniversaryAuthInterceptor.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryService.java
  src/main/java/com/dateplan/dateplan/domain/couple/repository/CoupleQueryRepository.java
  src/main/java/com/dateplan/dateplan/global/config/web/WebConfig.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryServiceTest.java
Labels: refactor, test

#128 Feat/#107 처음만난날 수정시 관련 기념일 수정
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/Anniversary.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/AnniversaryPattern.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryJDBCRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryService.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/request/AnniversaryCreateServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/AnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/couple/controller/CoupleController.java
  src/test/java/com/dateplan/dateplan/controller/couple/CoupleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryServiceTest.java
Labels: feat, refactor, test

#129 Feat/#127 달력 일정 전체 조회
  src/main/java/com/dateplan/dateplan/domain/calender/controller/CalenderController.java
  src/main/java/com/dateplan/dateplan/domain/calender/controller/dto/response/CalenderDateResponse.java
  src/main/java/com/dateplan/dateplan/domain/calender/controller/dto/response/CalenderEntry.java
  src/main/java/com/dateplan/dateplan/domain/calender/service/CalenderReadService.java
  src/main/java/com/dateplan/dateplan/domain/calender/service/dto/response/CalenderDateServiceResponse.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/calendar/CalenderControllerTest.java
  src/test/java/com/dateplan/dateplan/service/calender/CalenderReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: feat, test

#134 Fix/#132 회원 연결 시 기존에 존재하던 연결 코드 제거
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: fix, test

#135 Feat/#131 커플 연결 해제
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryPatternRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/dating/repository/DatingQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/SchedulePatternRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/calender/CalenderReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: feat, test

#140 Feat/#138 비밀번호 변경
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/dto/request/UpdatePasswordRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/entity/Member.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/dto/request/UpdatePasswordServiceRequest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: feat, test

#142 Fix/#141 토큰 재발급 테스트를 위한 만료 시간 변경
  src/main/java/com/dateplan/dateplan/global/constant/Auth.java
Labels: fix
