Repository couplog/back-end, pull requests merged in 2023-06, with the labels that each got.

#27 Feat/#24 회원가입 테스트 작성
  src/main/java/com/dateplan/dateplan/domain/member/dto/SignUpRequest.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
  src/test/java/com/dateplan/dateplan/service/sms/SmsSendClientTest.java
Labels: refactor, test

#29 Feat/#26 couple connect
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/service/AuthService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/global/auth/JwtProvider.java
  src/main/java/com/dateplan/dateplan/global/constant/InputPattern.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/member/AlreadyConnectedException.java
  src/main/java/com/dateplan/dateplan/global/exception/member/InvalidConnectionCodeException.java
  src/main/java/com/dateplan/dateplan/global/exception/member/SelfConnectionNotAllowedException.java
  src/main/java/com/dateplan/dateplan/global/util/RandomCodeGenerator.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/JwtProviderTest.java
Labels: feat

#31 Feat/#28 회원 프로필 사진 변경 기능
  build.gradle
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/PresignedURLResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/entity/Member.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/domain/s3/S3Client.java
  src/main/java/com/dateplan/dateplan/domain/s3/S3ImageType.java
  src/main/java/com/dateplan/dateplan/global/config/cloud/AwsS3Config.java
  src/main/java/com/dateplan/dateplan/global/exception/ApplicationException.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/S3Exception.java
  src/main/java/com/dateplan/dateplan/global/exception/S3ImageNotFoundException.java
  src/main/resources/application-cloud.yml
  src/main/resources/application.yml
Labels: feat

#35 Fix/#34 token validation fix
  src/main/java/com/dateplan/dateplan/domain/member/dto/LoginRequest.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/auth/TokenNotFoundException.java
  src/main/java/com/dateplan/dateplan/global/interceptor/AuthInterceptor.java
Labels: fix

#33 Feat/#30 couple connection test
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: refactor, test

#36 Feat/#32 회원 프로필 이미지 변경 테스트
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/domain/s3/S3Client.java
  src/main/java/com/dateplan/dateplan/global/config/web/WebConfig.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/ServiceTestSupport.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
  src/test/java/com/dateplan/dateplan/service/s3/S3ClientTest.java
  src/test/java/com/dateplan/dateplan/service/sms/SmsSendClientTest.java
Labels: refactor, test

#40 Feat/#38 회원 프로필 이미지 삭제
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/entity/Member.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/domain/s3/S3Client.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/JwtProviderTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: feat

#43 Feat/#39 interceptor test
  src/test/java/com/dateplan/dateplan/interceptor/auth/AuthInterceptorTest.java
Labels: test

#44 Feat/#42 회원 프로필 이미지 삭제 기능 테스트
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
  src/test/java/com/dateplan/dateplan/service/s3/S3ClientTest.java
Labels: refactor, test

#49 Fix/#48 connection code
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/global/constant/Operation.java
  src/main/java/com/dateplan/dateplan/global/constant/Resource.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/NoPermissionException.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: fix, test

#50 Fix/#47 회원 프로필 이미지 관련 기능 수정
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: fix, test

#54 Feat/#53 현재 로그인 회원 정보 조회
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/AuthController.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/MemberInfoResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/MemberInfoServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/PhoneAuthCodeRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/PhoneAuthCodeServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/PhoneRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/PhoneServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/SignUpRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/SignUpServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/service/AuthService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: feat, refactor, test

#46 Feat/#41 first date
  src/main/java/com/dateplan/dateplan/domain/couple/controller/CoupleController.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/FirstDateRequest.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/FirstDateResponse.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/FirstDateServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/FirstDateServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/couple/entity/Couple.java
  src/main/java/com/dateplan/dateplan/domain/couple/repository/CoupleRepository.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/global/constant/Resource.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/couple/MemberNotConnectedException.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/couple/CoupleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: feat

#57 Feat/#52 connected couple info
  src/main/java/com/dateplan/dateplan/domain/couple/controller/CoupleController.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/CoupleInfoResponse.java
  src/main/java/com/dateplan/dateplan/domain/couple/dto/CoupleInfoServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/couple/entity/Couple.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/test/java/com/dateplan/dateplan/controller/couple/CoupleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
Labels: feat, refactor, fix, test

#61 Fix/#58 인터셉터 중복 예외 처리 제거
  src/main/java/com/dateplan/dateplan/global/auth/JwtProvider.java
  src/main/java/com/dateplan/dateplan/global/interceptor/AuthInterceptor.java
  src/test/java/com/dateplan/dateplan/interceptor/auth/AuthInterceptorTest.java
  src/test/java/com/dateplan/dateplan/service/member/JwtProviderTest.java
Labels: refactor, test

#62 Fix/#59 로그인 시 입력 패턴에 대한 유효성 검사 삭제
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginRequest.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
Labels: fix, test

#64 Feat/#55 회원 프로필 이미지 조회
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ProfileImageURLResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ProfileImageURLServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/entity/Member.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: feat, refactor, fix, test

#60 Feat/#56 회원 전화번호 인증 횟수 제한
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/AuthController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/AuthToken.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/SendSmsResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/signup/SendSmsServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/service/AuthService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberService.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/auth/InvalidPhoneAuthCodeException.java
  src/main/java/com/dateplan/dateplan/global/exception/auth/NoPermissionException.java
  src/main/java/com/dateplan/dateplan/global/exception/auth/PhoneAuthLimitOverException.java
  src/main/java/com/dateplan/dateplan/global/exception/auth/PhoneNotAuthenticatedException.java
  src/main/java/com/dateplan/dateplan/global/exception/member/AlReadyRegisteredNicknameException.java
  src/main/java/com/dateplan/dateplan/global/exception/member/AlReadyRegisteredPhoneException.java
  src/test/java/com/dateplan/dateplan/controller/couple/CoupleControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/interceptor/auth/AuthInterceptorTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberServiceTest.java
Labels: feat, refactor, fix, test

#66 Feat/#65 커플 기념일 관련 Entity 작성
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/Anniversary.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/AnniversaryCategory.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/AnniversaryPattern.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/entity/AnniversaryRepeatRule.java
Labels: feat

#72 Feat/#71 querydsl 기초 설정
  build.gradle
  src/main/java/com/dateplan/dateplan/global/config/querydsl/QuerydslConfig.java
Labels: chore

#73 Fix/#70 처음 만난 날 범위 수정
  src/main/java/com/dateplan/dateplan/domain/couple/dto/FirstDateRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/ConnectionRequest.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/login/LoginRequest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
Labels: bug, test

#68 Feat/#63 회원 개인 일정 추가하기
  src/main/java/com/dateplan/dateplan/domain/couple/entity/Couple.java
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleRequest.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/schedule/entity/Schedule.java
  src/main/java/com/dateplan/dateplan/domain/schedule/entity/SchedulePattern.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleJDBCRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/SchedulePatternRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/main/java/com/dateplan/dateplan/global/constant/InputPattern.java
  src/main/java/com/dateplan/dateplan/global/constant/RepeatRule.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/schedule/InvalidDateTimeRangeException.java
  src/main/java/com/dateplan/dateplan/global/exception/schedule/InvalidDifferenceDateTimeException.java
  src/main/java/com/dateplan/dateplan/global/exception/schedule/InvalidRepeatEndTimeRange.java
  src/main/java/com/dateplan/dateplan/global/util/ScheduleDateUtil.java
  src/main/resources/application-db.yml
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: feat, test

#76 Feat/#74 상대 회원 정보 조회
  src/main/java/com/dateplan/dateplan/domain/couple/service/CoupleReadService.java
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/MemberInfoResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/dto/MemberInfoServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/member/entity/Member.java
  src/main/java/com/dateplan/dateplan/domain/member/service/MemberReadService.java
  src/test/java/com/dateplan/dateplan/controller/member/AuthController/AuthControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/service/couple/CoupleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/AuthServiceTest.java
  src/test/java/com/dateplan/dateplan/service/member/JwtProviderTest.java
  src/test/java/com/dateplan/dateplan/service/member/MemberReadServiceTest.java
Labels: feat, refactor, fix, test

#79 Feat/#77 기념일 날짜 조회
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryDatesResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryDatesServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
Labels: feat, test

#78 Feat/#75 개인 일정 조회
  .gitignore
  src/main/java/com/dateplan/dateplan/domain/member/controller/MemberController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleDatesResponse.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleDatesServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleReadService.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/test/java/com/dateplan/dateplan/controller/ControllerTestSupport.java
  src/test/java/com/dateplan/dateplan/controller/member/MemberController/MemberControllerTest.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: feat, test

#81 Feat/#80 커플 기념일 조회
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryListResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryListServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/AnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
Labels: feat, fix, test

#87 Feat/#83 개인 일정 상세 조회
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleEntry.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleResponse.java
  src/main/java/com/dateplan/dateplan/domain/schedule/dto/ScheduleServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleReadService.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
Labels: feat, test

#91 Feat/#82 다가오는 기념일 조회
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/ComingAnniversaryListResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/ComingAnniversaryListServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/ComingAnniversaryResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/dto/ComingAnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
Labels: feat, test

#89 Feat/#85 일정 삭제
  src/main/java/com/dateplan/dateplan/domain/schedule/controller/ScheduleController.java
  src/main/java/com/dateplan/dateplan/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/dateplan/dateplan/domain/schedule/service/ScheduleService.java
  src/test/java/com/dateplan/dateplan/controller/schedule/ScheduleControllerTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/schedule/ScheduleServiceTest.java
Labels: feat, test

#93 Feat/#92 커플 기념일 수정
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/AnniversaryController.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/request/AnniversaryCreateRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/request/AnniversaryModifyRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/AnniversaryDatesResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/AnniversaryListResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/AnniversaryResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/ComingAnniversaryListResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/controller/dto/response/ComingAnniversaryResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/repository/AnniversaryQueryRepository.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryReadService.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/AnniversaryService.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/request/AnniversaryCreateServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/request/AnniversaryModifyServiceRequest.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/AnniversaryDatesServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/AnniversaryListServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/AnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/ComingAnniversaryListServiceResponse.java
  src/main/java/com/dateplan/dateplan/domain/anniversary/service/dto/response/ComingAnniversaryServiceResponse.java
  src/main/java/com/dateplan/dateplan/global/constant/Resource.java
  src/main/java/com/dateplan/dateplan/global/exception/ErrorCode.java
  src/main/java/com/dateplan/dateplan/global/exception/anniversary/AnniversaryNotFoundException.java
  src/test/java/com/dateplan/dateplan/controller/anniversary/AnniversaryControllerTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryReadServiceTest.java
  src/test/java/com/dateplan/dateplan/service/anniversary/AnniversaryServiceTest.java
Labels: feat, test
